node_modules
.history
.mongodb-data
.videos
.next
build
dist
backend-dist
*.log
*.mp4
config.json
archivia-build
archivia-public
archivia-mongo
archivia-staging-build
archivia-staging-public
archivia-staging-mongo

backend/resources/images
postgres/pgdata

.env
.env.development
.env.production